.m-tb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}
.m-0{margin: 0px;}
.m-l-30{margin-left: 30px;}
.m-b-30 {
    margin-bottom: 30px;
}
.m-b-15 {
    margin-bottom: 15px;
}
.pad-tb-30{
	padding-top: 30px;
	padding-bottom: 30px;
}
.pad-tb-60{
	padding-top: 60px;
	padding-bottom: 60px;
}
.navbar-default {
    border-radius: 0px;
    background-color: #0f1626;
    margin-bottom: 0;
    border: none;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.bg-light-gray{background: #f5f5f5;}
.word-wrap{word-wrap: break-word;}
/*.container{
	width: 1240px;
}*/
.pos-r{position: relative;}
.navbar-brand {
    color: #fff !important;
}
b{font-family: 'Roboto slab', sans-serif;}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #333 !important
}

.jumbotron {
    background: url('../img/London-2018-Header.jpg') center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    border-radius: 0px !important;
    font-family: 'Roboto slab', sans-serif;
    margin-bottom: 0px;	
}

.over-lay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-txt {
    position: relative;
}
.banner-txt h1{
	font-weight: 900;
}
.search-post {
    width: 30%;
    display: inline;
    padding: 20px;
}

.btn-submit {
    background-color: #ff533d;
    border-color: #ff533d;
    padding: 9px 25px;
    border: none;
}

.btn-submit:hover {
    background-color: #ff533d;
    border-color: #ff533d;
}

.listing {
    padding: 0;
    border-radius: 0;
}

.listing p {
    margin-bottom: 0;
}

.list-group-item {
    border-radius: 0px !important;
    height: 42px;
}

.list-span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 85%;

    display: inline-block;
}
.search-btn{
	background: #ff533d;
    border: 0px;
    padding: 6px;
    outline: none;
}
.search-btn img{width: 20px;}
svg{
	width: 80px;
}
.social-icon{
	list-style: none;
	padding: 0;
	display: inline-block;
}
.social-icon li{
	display: inline;
	margin-left: 5px;
}
.social-icon li>a img{
	width: 25px;
}
.cookie{
	position: fixed;
    bottom: 0;
    width: 100%;
    background: #0f1626;
    padding: 10px 0;
    color: #ccc;
}
.cookie p{
	margin-bottom: 0;
	margin-top: 10px;
}
.heading{
	font-family: 'Roboto slab', sans-serif;
}
.breadcrumb{
	background: transparent;
	border-bottom: 1px solid #ccc;
	border-radius: 0px;
}
.breadcrumb>li+li:before{
	content: '\00bb';
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{
	padding: 10px;
}
.left-box{
	font-size: 14px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px #d6d6d6;
	/*border:2px solid #ff533d;*/
}
.left-box hr{
	margin:5px 0;
	border-color: #ff533d;
}
.nav-stacked{
    width: 230px;
}
.affix{top: 30px;}
.nav-pills>li>a{
    /*background: #efefef;*/
    color: #0f1626;
    border: 1px solid #ccc;
}
.box{
    /*background: #efefef;*/
    padding: 15px;
    box-shadow: 0px 0px 28px -3px #e0dfdf;
}
.box hr{
    border-color: #0f1626;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background: #ff533d;
}
.footer {
    background: #0f1626;
}
.footer p{color: #ccc;}
.footer a{color: #ccc;}