{% extends 'main_site/base.html' %}
{% load static %}

{% block title %}Address Detail{% endblock %}


{% block content %}
<div class="row pad-tb-30">
    <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-sm-3" id="myScrollspy">
                    <ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="50">
                        <li class="active"><a data-toggle="collapse" data-parent="#accordion" href="#overview-collapse"><span class="pull-right">+</span> Overview </a>
                            <div id="overview-collapse" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul>
                                        <li><a href="#Introduction">Introduction</a></li>
                                        <li><a href="#mapview">Map Location</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="#section2">Addresses</a></li>
                        <li><a data-toggle="collapse" data-parent="#accordion" href="#near-collapse"><span class="pull-right">+</span> Near by</a>
                            <div id="near-collapse" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="navigation">
                                        <li><a href="#businesses" data-toggle="tab">Businesses</a></li>
                                        <li><a href="#postoffices" data-toggle="tab">Post Offices</a></li>
                                        <li><a href="#scholls" data-toggle="tab">Scholl</a></li>
                                        <li><a href="">Hospitals </a></li>
                                        <li><a href="">Railway Stations</a></li>
                                        <li><a href="">Bus Stops</a></li>
                                        <li><a href="">Towns</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="#section4">Employment</a></li>
                        <li><a href="#section5">Housing</a></li>
                        <li><a href="#section5">Culture</a></li>
                    </ul>
                </div>
                <div class="col-sm-9">
                    <div id="section1" class="m-b-30">
                        <div id="Introduction" class="box">
                            <h1 class="heading m-0">{{ address.name }} <hr></h1>
                            <p>{{ postcode.postcode }} Postcode (also referred as Postcode Unit) comes under {{ postcode.district }} in {{ postcode.country }}. This postcode belongs to Union Street, Aberdeen, Scotland and areas in and around it. It is an active and deliverable postcode. {{ postcode.postcode }} postcode was first introduced by UK Postal system on {{ postcode.introduced }}.As per 2011 Census data from Office for National Statistics, it belongs to Large urban area category in {{ postcode.ward }} division. It comes under {{ postcode.country }} police jurisdiction.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="heading">Postcode Information<hr></h3>
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <th>Latitude</th>
                                            <td>{{ postcode.latitude }}</td>
                                        </tr>
                                        <tr>
                                            <th>Longitude</th>
                                            <td>{{ postcode.longitude }}</td>
                                        </tr>
                                        <tr>
                                            <th>Easting</th>
                                            <td>{{ postcode.easting }}</td>
                                        </tr>
                                        <tr>
                                            <th>Northing</th>
                                            <td>{{ postcode.northing }}</td>
                                        </tr>
                                        <tr>
                                            <th>Grid Ref</th>
                                            <td>{{ postcode.grid_reference }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="heading">Admin areas<hr></h3>
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <th>Ward</th>
                                            <td>{{ postcode.ward }}</td>
                                        </tr>
                                        <tr>
                                            <th>District</th>
                                            <td>{{ postcode.district }}</td>
                                        </tr>
                                        <tr>
                                            <th>District Code</th>
                                            <td>{{ postcode.district_code }}</td>
                                        </tr>
                                        <tr>
                                            <th>Constituency</th>
                                            <td>{{ postcode.constituency }}</td>
                                        </tr>
                                        <tr>
                                            <th>Country</th>
                                            <td>{{ postcode.country }}</td>
                                        </tr>
                                        <tr>
                                            <th>County Code</th>
                                            <td>{{ postcode.county_code }}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="col-md-6">
                                    <h3 class="heading">Data<hr></h3>
                                    <table class="table table-striped table-bordered">
                                        <tr>
                                            <th>Introduced</th>
                                            <td>{{ postcode.introduced }}</td>
                                        </tr>
                                        <tr>
                                            <th>Terminated</th>
                                            <td>{{ postcode.terminated }}</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="mapview" class="m-b-30">
                        <div class="box">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="heading">Map Location<hr></h3>
                                    <img src="{% static 'main_site/img/staticmap.png' %}" class="img-responsive">
                                </div>
                                <div class="col-md-6">
                                    <h3 class="heading">Street view<hr></h3>
                                    <img src="{% static 'main_site/img/staticmap2.png' %}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="section2" class="m-b-30">
                        <div class="box">
                            <h3 class="heading">Addresses in Union Street, Aberdeen, AB10 1BD <hr></h3>
                            <p>As per our records, we have <b>{{ count }} addresses in this postcode</b>. Please select the address from the list below to view more information.</p>
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table table-striped">
                                      {% for address in addresses %}
                                        <tr>
                                            <td><img src="{% static 'main_site/img/pin.svg' %}" width="20px"> <a href="">{{ address.name }}</a></td>
                                        </tr>
                                      {% endfor %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="section3" class="m-b-30">
                        <div class="box">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#businesses">Businesses </a></li>
                                <li><a data-toggle="tab" href="#postoffices">Post Offices </a></li>
                                <li><a data-toggle="tab" href="#scholls">Scholls</a></li>
                                <li><a data-toggle="tab" href="#hospitals">Hospitals</a></li>
                                <li><a data-toggle="tab" href="#railway">Railway Stations</a></li>
                                <li><a data-toggle="tab" href="#busstops">Bus Stops</a></li>
                                <li><a data-toggle="tab" href="#towns">Towns</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="businesses" class="tab-pane fade in active">
                                    <h3 class="heading">Businesses near Grandholm Grove, Aberdeen, AB22 8AX <hr></h3>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Address</th>
                                                <th>Company Category</th>
                                                <th>PostTown</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Pittodrie Podiatry Practice</td>
                                                <td>23 Grandholm Grove, Bridge Of Don, Aberdeen, AB22 8AX</td>
                                                <td>Private Unlimited Company </td>
                                                <td>Aberdeen</td>
                                            </tr>
                                            <tr>
                                                <td>Kljtech Limited</td>
                                                <td>16 Grandholm Grove, Bridge Of Don, Aberdeen, AB22 8AX</td>
                                                <td>Private Limited Company </td>
                                                <td>Aberdeen</td>
                                            </tr>
                                            <tr>
                                                <td>Jsjm Instrumentation Services Limited</td>
                                                <td>4 Grandholm Grove, Bridge Of Don, Aberdeen, AB22 8AX</td>
                                                <td>Private Limited Company </td>
                                                <td>Aberdeen</td>
                                            </tr>
                                            <tr>
                                                <td>Grandholm Developments Limited</td>
                                                <td>5 Grandholm Grove, Aberdeen, AB22 8AX</td>
                                                <td>Private Limited Company </td>
                                                <td>Aberdeen</td>
                                            </tr>
                                            <tr>
                                                <td>Grandholm Consulting Ltd</td>
                                                <td>33 Grandholm Grove, Bridge Of Don, Aberdeen, AB22 8AX</td>
                                                <td>Private Limited Company </td>
                                                <td>Aberdeen</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="postoffices" class="tab-pane fade">
                                    <h3 class="heading">Post offices near Grandholm Grove, Aberdeen, AB22 8AX <hr></h3>
                                    <div class="alert alert-danger">
                                        No nearby Schools found within 5 mile radius.
                                    </div>
                                </div>
                                <div id="scholls" class="tab-pane fade">
                                    <h3 class="heading">Schools near Grandholm Grove, Aberdeen, AB22 8AX <hr></h3>
                                    <div class="alert alert-danger">
                                        No nearby Schools found within 5 mile radius.
                                    </div>
                                </div>
                                <div id="hospitals" class="tab-pane fade">
                                    <h3 class="heading">Hospitals near Grandholm Grove, Aberdeen, AB22 8AX <hr></h3>
                                    <div class="alert alert-danger">
                                        No nearby Schools found within 5 mile radius.
                                    </div>
                                </div>
                                <div id="railway" class="tab-pane fade">
                                    <h3 class="heading">Railway Stations near Grandholm Grove, Aberdeen, AB22 8AX <hr></h3>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Station Name</th>
                                                <th>Address</th>
                                                <th>Postcode</th>
                                                <th>Distance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Aberdeen (ABD)</td>
                                                <td>Guild Street,Aberdeen</td>
                                                <td><a href="/addresses-in-AB11-6LX">AB11 6LX</a></td>
                                                <td>2.38 miles</td>
                                            </tr>
                                            <tr>
                                                <td>Dyce (DYC)</td>
                                                <td>Dyce,Station Road,Dyce,-</td>
                                                <td><a href="/addresses-in-AB21-7EQ">AB21 7EQ</a></td>
                                                <td>3.58 miles</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="busstops" class="tab-pane fade">
                                    <h3 class="heading">Bus stops near Grandholm Grove, Aberdeen, AB22 8AX <hr></h3>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Street</th>
                                                <th>Locality</th>
                                                <th>Stop Type</th>
                                                <th>Distance</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Donbank Place (opp)</td>
                                                <td>Gordon's Mills Road</td>
                                                <td>Tillydrone, Aberdeen</td>
                                                <td>Marked (pole, shelter etc)</td>
                                                <td>0.11 miles </td>
                                            </tr>
                                            <tr>
                                                <td>Meadow Court (opp)</td>
                                                <td>Gordon's Mills Road</td>
                                                <td>Tillydrone, Aberdeen</td>
                                                <td>Marked (pole, shelter etc)</td>
                                                <td>0.11 miles </td>
                                            </tr>
                                            <tr>
                                                <td>Donview Place (at)</td>
                                                <td>Donbank Terrace</td>
                                                <td>Tillydrone, Aberdeen</td>
                                                <td>Marked (pole, shelter etc)</td>
                                                <td>0.23 miles </td>
                                            </tr>
                                            <tr>
                                                <td>Meadow Place (adj)</td>
                                                <td>Gordon's Mills Road</td>
                                                <td>Tillydrone, Aberdeen</td>
                                                <td>Marked (pole, shelter etc)</td>
                                                <td>0.26 miles </td>
                                            </tr>
                                            <tr>
                                                <td>Don Street (adj)</td>
                                                <td>Donbank Terrace</td>
                                                <td>Tillydrone, Aberdeen</td>
                                                <td>Marked (pole, shelter etc)</td>
                                                <td>0.3 miles </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="towns" class="tab-pane fade">
                                    <h3 class="heading">Towns near Grandholm Grove, Aberdeen, AB22 8AX <hr></h3>
                                    <div class="alert alert-danger">
                                        No nearby Schools found within 5 mile radius.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block extrajs %}

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
