{% extends 'main_site/base.html' %}

{% block title %}Index{% endblock %}



{% block content %}
<div class="row pad-tb-30">
    <div class="col-md-12">
        <div class="container">
            <div class="row text-center m-b-30">
                <div class="col-md-12">
                    <h1 class="heading">{{ area_code }} Postcode Area</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-box">
                    <div class="m-b-15">
                        <h4 class="heading">Overview: <hr></h4>
                        <p>{{ area_code }} Postcode area consists of 40 Postal districts (also known as Outward codes).</p>
                    </div>
                    <p class="m-b-15">As per <b>2011</b> Census data from Office for National Statistics, AB Postcode area has a population of <b>499,692</b> spread across <b>218,798</b> households.</p>
                    <div>
                        <h4 class="heading">AB Postcode Format <hr></h4>
                        <table class="table table-striped table-condensed table-bordered">
                            <tbody>
                                <tr>
                                    <th width="50%">Postcode Area</th>
                                    <td>{{ area_code }}</td>
                                </tr>
                                <tr>
                                    <th>Postcode Districts</th>
                                    <td><b>{{ count }}</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-7 m-l-30">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">{{ area_code }}</li>
                    </ul>
                    <div>
                        <h4 class="heading">List of Active Postcode Districts in AB</h4>
                        <p>Select the Postcode district from the list below to see the information about the postcode.</p>
                        <hr>
                        <table class="table table-striped table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th>Postcode</th>
                                    <th>Area</th>
                                    <th>Region</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for post in post_districts %}
                                <tr>
                                    <td data-title="Postcode">
                                        <span class="monts"><a href="{% url 'district_page' post.postcode_district %}">{{ post.postcode_district }}</a></span>
                                    </td>
                                    <td data-title="Area">
                                        {{ post.town_area }}
                                    </td>
                                    <td data-title="Region">
                                        {{ post.region }}
                                    </td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- <div>
                        <h4 class="heading">List of Inactive Postcode Districts in AB</h4>
                        <p>Select the Postcode district from the list below to see the information about the postcode.</p>
                        <hr>
                        <table class="table table-striped table-condensed cf">
                            <thead class="cf">
                                <tr>
                                    <th>Postcode</th>
                                    <th>Area</th>
                                    <th>Region</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-title="Postcode">
                                        <span class="monts"><a href="/postcode-district-AB10">AB10</a></span>
                                    </td>
                                    <td data-title="Area">
                                        Aberdeen city centre, Bridge of Dee, Mannofield
                                    </td>
                                    <td data-title="Region">
                                        Aberdeen
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
