{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Adress Book</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'main_site/css/app.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static  'main_site/css/narrow-jumbotron.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:700" rel="stylesheet">
</head>

<body>
    <div class="container-fluid pos-r">
        <div class="row">
            <nav class="col-md-12 navbar navbar-default">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="navbar-header">
                                <a class="navbar-brand" href="{% url 'index' %}">AddressData</a>
                            </div>
                            <!-- <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Page 1</a></li>
                                <li><a href="#">Page 2</a></li>
                                <li><a href="#">Page 3</a></li>
                            </ul> -->
                            <div class="navbar-right">
                                <form class="navbar-form navbar-left" method="get" action="{% url 'haystack_search' %}" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="q" id="id_q" value="" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn search-btn"><img src="{% static 'main_site/img/search.svg' %}" alt=""></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    {% block content %}
    {% endblock %}

    {% block pagination %}
      {% if is_paginated %}
          <div class="pagination text-center">
              <span class="page-links text-center" style="margin: 5px auto 20px;">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                  {% endif %}
                  <span class="page-current">
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                  {% endif %}
              </span>
          </div>
      {% endif %}
    {% endblock %}
    <div class="row footer pad-tb-30">
        <div class="col-md-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <footer class="container">
                            <div class="col-md-6">
                              <p>Disclaimer : The data on addresss-data.co.uk may not be accurate, complete, or otherwise reliable. We disclaim any responsibility resulting from inappropriate uses or interpretations of the data.</p>
                              <p class=""><b><a rel="nofollow" href="/privacy-policy">Privacy Policy</a>  |  <a rel="nofollow" href="/contact">Contact Us</a></b></p>
                              <p>Site Last Updated on 22nd February, 2017</p>
                            </div>
                            <div class="col-md-3 col-md-offset-3">
                              <ul class="social-icon pull-right">
                                <li><a href=""><img src="{% static 'main_site/img/fb.svg' %}"></a></li>
                                <li><a href=""><img src="{% static 'main_site/img/tw.svg' %}"></a></li>
                                <li><a href=""><img src="{% static 'main_site/img/in.svg' %}"></a></li>
                              </ul>
                            </div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- <div class="cookie ">
      <div class="col-md-12">
        <a href="#" id="gotit" class="btn btn-lg btn-success btn-submit pull-right">Got it</a>
        <p class="">This website uses cookies to ensure you get the best experience on our website. <a href="{% static 'main_site/img/search.svg' %}">Learn more</a></p>
      </div>
    </div> -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {% block extrajs %}
    {% endblock %}
    <script src="{% static 'main_site/js/main.js' %}" charset="utf-8"></script>
    </body>

    </html>
