{% extends 'main_site/base.html' %}

{% block title %}Index{% endblock %}



{% block content %}

        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <div class="over-lay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="banner-txt">
                                <h1 class="display-3">UK Address Data </h1>
                                <form action="{% url 'haystack_search' %}" method="get" class="m-tb-30">
                                    <input type="search" name="q" id="id_q" value="" class="form-control search-post" placeholder="Search for a Postcode">
                                    <button class="btn btn-lg btn-success btn-submit " href="#" role="button">Search</button>
                                </form>
                                <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                                <!-- <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bg-light-gray pad-tb-60 m-b-30">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                                <g transform="matrix(0.9997 0 0 0.9997 0.0767922 0.0767922)">
                                    <path style="fill:#BFBFBB" d="M95.474,428.14h90.138v63.883c0,3.09-3.761,5.186-7.177,4.002l-35.902-12.458  c-1.273-0.443-2.706-0.443-3.979,0l-35.902,12.458c-3.416,1.185-7.177-0.912-7.177-4.002L95.474,428.14L95.474,428.14z" data-original="#CFF09E" class="" data-old_color="#DDDDD9" />
                                    <g>
                                        <path style="fill:#0f1626" d="M180.431,512c-2.429,0-4.825-0.403-7.12-1.201l-32.767-11.371l-32.767,11.371   c-2.296,0.798-4.692,1.201-7.12,1.201c-11.481,0-20.822-8.961-20.822-19.976v-79.524h121.416v79.524   C201.251,503.037,191.911,511.998,180.431,512z M140.544,467.595c2.433,0,4.826,0.402,7.111,1.193l22.32,7.746v-32.756h-58.86   v32.756l22.314-7.743C135.719,467.997,138.11,467.595,140.544,467.595z" data-original="#507C5C" class="active-path" data-old_color="#010101" />
                                        <path style="fill:#0f1626" d="M374.121,442.701H93.281c-35.322,0-64.058-28.736-64.058-64.06V64.06   C29.224,28.736,57.961,0,93.281,0H374.12c25.405,0,46.074,20.67,46.074,46.075v350.55   C420.197,422.031,399.527,442.701,374.121,442.701z M93.281,31.278c-18.075,0-32.781,14.705-32.781,32.782v314.581   c0,18.077,14.705,32.782,32.781,32.782H374.12c8.159,0,14.796-6.637,14.796-14.798V46.075c0-8.16-6.637-14.798-14.796-14.798   H93.281z" data-original="#507C5C" class="active-path" data-old_color="#010101" />
                                        <path style="fill:#0f1626" d="M285.583,441.594c-35.827,0-69.51-13.951-94.844-39.285c-25.333-25.333-39.285-59.015-39.285-94.844   s13.951-69.51,39.285-94.844c25.333-25.332,59.016-39.283,94.844-39.283s69.51,13.951,94.844,39.283   c25.333,25.333,39.286,59.016,39.286,94.844s-13.951,69.509-39.286,94.844C355.095,427.642,321.41,441.594,285.583,441.594z    M285.583,204.616c-27.473,0-53.3,10.697-72.727,30.124c-19.425,19.427-30.124,45.254-30.124,72.727   c0,27.471,10.699,53.3,30.124,72.726c19.427,19.427,45.254,30.125,72.727,30.125s53.3-10.699,72.726-30.125   c19.427-19.425,30.125-45.254,30.125-72.725c0-27.473-10.699-53.3-30.125-72.727C338.884,215.313,313.056,204.616,285.583,204.616z   " data-original="#507C5C" class="active-path" data-old_color="#010101" />
                                    </g>
                                    <path style="fill:#BFBFBB" d="M369.369,391.251c-10.264,10.264-21.944,18.246-34.412,23.957l61.747,61.747  c16.052,16.052,42.317,16.052,58.367,0c16.052-16.052,16.052-42.317,0-58.367l-61.747-61.747  C387.616,369.306,379.632,380.987,369.369,391.251z" data-original="#CFF09E" class="" data-old_color="#DDDDD9" />
                                    <g>
                                        <path style="fill:#0f1626" d="M425.891,504.633c-15.234,0-29.525-5.901-40.242-16.618l-77.655-77.655l20.454-9.369   c11.102-5.086,21.15-12.084,29.866-20.798c8.712-8.711,15.709-18.759,20.798-29.866l9.369-20.451l77.655,77.653   c22.188,22.19,22.188,58.294,0,80.486C455.415,498.73,441.125,504.633,425.891,504.633z M360.569,418.701l47.195,47.195   c4.809,4.809,11.246,7.458,18.125,7.458c6.88,0,13.317-2.648,18.125-7.458s7.458-11.246,7.458-18.125   c0-6.88-2.649-13.317-7.458-18.125l-47.193-47.195c-4.79,7.094-10.267,13.731-16.394,19.857   C374.3,408.436,367.661,413.914,360.569,418.701z" data-original="#507C5C" class="active-path" data-old_color="#010101" />
                                        <rect x="123.062" y="98.025" style="fill:#0f1626" width="203.822" height="31.278" data-original="#507C5C" class="active-path" data-old_color="#010101" />
                                    </g>
                                </g>
                            </svg>
                            <h4>Search our checker for any part of an address</h4>
                        </div>
                        <div class="col-md-4 text-center">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;fill:#0f1626" xml:space="preserve">
                                <g>
                                    <path d="M310.634,43.714H297.17c-7.194,0-13.026-5.833-13.026-13.026V30.25C284.144,13.543,270.6,0,253.893,0h-0.699
    c-16.707,0-30.25,13.543-30.25,30.25v0.438c0,7.194-5.833,13.027-13.026,13.027h-13.464c-14.341,0-25.966,11.625-25.966,25.966
    v0.525c0,14.341,11.625,25.966,25.966,25.966h114.183c14.34,0,25.965-11.626,25.965-25.966V69.68
    C336.601,55.34,324.976,43.714,310.634,43.714z M253.543,43.714c-7.243,0-13.114-5.872-13.114-13.114
    c0-7.243,5.872-13.115,13.114-13.115c7.243,0,13.114,5.872,13.114,13.115C266.657,37.843,260.786,43.714,253.543,43.714z
     M311.929,550.8H91.8c-19.314,0-34.971-15.657-34.971-34.971V96.171c0-19.314,15.657-34.971,26.228-34.971h70.854
    c-0.591,2.904-0.91,5.914-0.91,9.008c0,23.958,19.492,43.45,43.454,43.45h114.178c23.963,0,43.453-19.492,43.453-43.979
    c0-2.903-0.311-5.733-0.855-8.479h53.312c28.059,0,43.715,15.657,43.715,34.971v262.728c-2.906-0.181-5.791-0.442-8.742-0.442
    c-12.094,0-23.771,1.704-34.973,4.604V157.371H100.543v349.715h201.528C303.029,522.453,306.387,537.162,311.929,550.8z
     M441.515,384.686c-62.771,0-113.656,50.887-113.656,113.657S378.743,612,441.515,612s113.656-50.887,113.656-113.657
    S504.286,384.686,441.515,384.686z M515.782,474.991l-69.943,78.686c-3.445,3.877-8.244,5.865-13.076,5.865
    c-3.838,0-7.697-1.255-10.916-3.833l-43.715-34.971c-7.539-6.028-8.764-17.034-2.727-24.573c6.027-7.547,17.037-8.769,24.576-2.731
    l30.748,24.598l58.916-66.28c6.408-7.215,17.465-7.872,24.684-1.451C521.55,456.721,522.198,467.769,515.782,474.991z M362.829,306
    H222.944c-4.829,0-8.743-3.915-8.743-8.743v-8.743c0-4.829,3.914-8.743,8.743-8.743h139.885c4.828,0,8.744,3.915,8.744,8.743v8.743
    C371.571,302.085,367.657,306,362.829,306z M362.829,227.314H222.944c-4.829,0-8.743-3.915-8.743-8.743v-8.743
    c0-4.829,3.914-8.743,8.743-8.743h139.885c4.828,0,8.744,3.915,8.744,8.743v8.743C371.571,223.4,367.657,227.314,362.829,227.314z
     M319.114,375.943h-96.17c-4.829,0-8.743-3.915-8.743-8.743v-8.743c0-4.829,3.914-8.743,8.743-8.743h96.17
    c4.83,0,8.744,3.914,8.744,8.743v8.743C327.856,372.028,323.944,375.943,319.114,375.943z M301.629,454.629h-78.686
    c-4.829,0-8.743-3.915-8.743-8.743v-8.743c0-4.829,3.914-8.743,8.743-8.743h78.686c4.829,0,8.743,3.914,8.743,8.743v8.743
    C310.372,450.714,306.458,454.629,301.629,454.629z M197.461,194.981l-32.199,36.224c-1.586,1.785-3.795,2.701-6.02,2.701
    c-1.767,0-3.543-0.578-5.025-1.765l-20.125-16.099c-3.471-2.775-4.034-7.841-1.256-11.312c2.774-3.475,7.844-4.037,11.314-1.258
    l14.155,11.323l27.123-30.513c2.95-3.321,8.04-3.624,11.363-0.668C200.117,186.57,200.415,191.656,197.461,194.981z
     M197.461,272.767l-32.199,36.223c-1.586,1.785-3.795,2.7-6.02,2.7c-1.767,0-3.543-0.577-5.025-1.765l-20.125-16.099
    c-3.471-2.775-4.034-7.841-1.256-11.312c2.774-3.475,7.844-4.037,11.314-1.258l14.155,11.324l27.123-30.513
    c2.95-3.321,8.04-3.624,11.363-0.667C200.117,264.355,200.415,269.442,197.461,272.767z M197.461,347.156l-32.199,36.224
    c-1.586,1.784-3.795,2.7-6.02,2.7c-1.767,0-3.543-0.577-5.025-1.765l-20.125-16.1c-3.471-2.774-4.034-7.841-1.256-11.312
    c2.774-3.475,7.844-4.037,11.314-1.258l14.155,11.323l27.123-30.513c2.95-3.321,8.04-3.624,11.363-0.668
    C200.117,338.745,200.415,343.831,197.461,347.156z M197.461,422.07l-32.199,36.224c-1.586,1.785-3.795,2.7-6.02,2.7
    c-1.767,0-3.543-0.577-5.025-1.765l-20.125-16.1c-3.471-2.774-4.034-7.841-1.256-11.312c2.774-3.475,7.844-4.037,11.314-1.258
    l14.155,11.323l27.123-30.513c2.95-3.321,8.04-3.624,11.363-0.668C200.117,413.659,200.415,418.746,197.461,422.07z" />
                                </g>
                            </svg>
                            <h4>Browse and select an address from the results</h4>
                        </div>
                        <div class="col-md-4 text-center">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 611.999 611.999" style="enable-background:new 0 0 611.999 611.999;fill:#0f1626 " xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M577.401,122.399H250.191c3.561-9.875,5.334-18.702,5.334-26.542C255.524,43.002,212.522,0,159.669,0
      c-52.856,0-95.855,43.002-95.855,95.858c0,7.84,1.773,16.667,5.334,26.542H34.613c-9.59,0-17.364,7.775-17.364,17.364v453.921
      c0,0-1.145,17.43,16.842,18.314c0.99,0,543.31,0,543.31,0c9.592,0,17.365-7.775,17.365-17.364v-454.87
      C594.765,130.174,586.993,122.399,577.401,122.399z M159.669,34.729c33.706,0,61.126,27.423,61.126,61.129
      c0,21.842-32.479,68.765-61.126,102.728c-28.647-33.962-61.126-80.887-61.126-102.728
      C98.543,62.152,125.963,34.729,159.669,34.729z M51.977,157.128H86.38c5.61,9.255,59.654,78.615,60.482,79.519
      c3.286,3.592,7.933,5.638,12.806,5.638c4.869,0,9.516-2.046,12.806-5.638c0.828-0.904,54.869-70.264,60.479-79.519h81.221
      L51.977,419.325V157.128z M76.535,577.271l161.624-161.623L399.781,577.27H76.535V577.271z M448.896,577.271l-198.457-198.46
      c-6.784-6.781-17.777-6.781-24.558,0L51.977,552.713V468.44l311.312-311.312h84.276c0,0-154.991,155.014-154.984,155.017
      c-2.506,2.334-10.411,13.222,0.344,24.873c-0.001,0-0.003,0.003-0.004,0.006L533.167,577.27h-84.271V577.271z M404.332,249.476
      l74.918,74.921l-74.918,74.918l-74.921-74.918L404.332,249.476z M560.036,555.023l-131.15-131.147l87.199-87.202
      c6.784-6.781,6.784-17.774,0-24.558l-87.199-87.199l67.794-67.791h63.356V555.023z" />
                                    </g>
                                </g>
                            </svg>
                            <h4>Get a full address/postcode and its location on a map</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row marketing">
                <div class="col-md-6">
                    <h4 class="heading">What is Address-Data?</h4>
                    <p>Address Data is a free postcode and address lookup service in United Kingdom (UK). We make the process of finding information about postcodes and addresses easy for the end users. Our free tool makes it easy for users to verify addresses and postcodes where they're sending mails to. One can search address of a residential building, apartment or any business based on partial address, postcode sector or simply building name.</p>
                </div>
                <div class="col-md-6">
                    <h4 class="heading">Our Database Stats</h4>
                    <ul>
                        <li>30 Million Addresses</li>
                        <li>1.8 Million Postcodes</li>
                        <li>40,000 newly added Addresses</li>
                    </ul>
                </div>
            </div>
            <div class="row m-tb-30">
                <div class="col-xs-12">
                    <h3 class="mb-btm text-center heading">List of Postcode Areas in United Kingdom (GB)</h3>
                </div>
            </div>
            <div class="row m-b-30">
              {% for post in post_summaries %}
                <div class="col-md-3 listing">
                    <p class=""><a class="list-group-item" href="{% url 'area_page' post.postcode_area %}"><span class="list-span">{{ post.area_covered }} </span><span style="float:right;">({{ post.postcode_area }})</span></a></p>
                </div>
              {% endfor %}
            </div>
        </div>

{% endblock %}
