{% extends 'main_site/base.html' %}

{% block title %}Index{% endblock %}



{% block content %}
<div class="row pad-tb-30">
    <div class="col-md-12">
        <div class="container">
            <div class="row text-center m-b-30">
                <div class="col-md-12">
                    <h1 class="heading">AB10 1(Aberdeen City)</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left-box">
                    <div class="m-b-15">
                        <h4 class="heading">Overview: <hr></h4>
                        <p><b>AB10</b> Postcode district consists of <b>888</b> postcode units (also known as Inward codes). Currently there <b>676</b> active inward codes in <b>AB10</b> postal district.</p>
                    </div>
                    <div>
                        <h4 class="heading">AB10 1 Postcode Format <hr></h4>
                        <table class="table table-striped table-condensed table-bordered">
                            <tbody>
                                <tr>
                                    <th width="50%">Postcode Area</th>
                                    <td>{{ sector_code|slice:"2" }}</td>
                                </tr>
                                <tr>
                                    <th>Postcode District</th>
                                    <td><b>{{ sector_code|slice:"4" }}</b></td>
                                </tr>
                                <tr>
                                    <th>Postcode Sectors</th>
                                    <td><b>{{ count }}</b></td>
                                </tr>
                                <tr>
                                    <th>Postcode (Active)</th>
                                    <td><b>16,576</b></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="col-md-7 m-l-30">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">{{ sector_code|slice:"2" }}</a></li>
                        <li><a href="#">{{ sector_code|slice:"4" }}</a></li>
                        <li class="active">{{ sector_code }}</li>
                    </ul>
                    <div>
                        <h4 class="heading">List of Active Postcode in AB</h4>
                        <p>Select the Postcode district from the list below to see the information about the postcode.</p>
                        <hr>
                        <table class="table table-striped table-condensed">
                            <thead>
                              <tr>
                                <th>Postcode</th>
                                <th>Ward</th>
                                <th>Consistency</th>
                              </tr>
                            </thead>
                            {% for post in postcodes %}
                              <tr>
                                  <td><a href="{% url 'addresses_for' post.postcode %}">{{ post.postcode }}</a></td>
                                  <td>{{ post.ward }}</td>
                                  <td>{{ post.constituency }}</td>
                              </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
