{% extends 'main_site/base.html' %}
{% load static %}


{% block content %}
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
          <table>
          <p>
            <label for="id_q">Search:</label>
            <input class="form-control" type="search" name="q" id="id_q" />
          </p>
          <input type="hidden" name="models" value="main_site.postcode" id="id_models_0" />
          <tr>
              <td>&nbsp;</td>
              <td>
                <button type="submit" class="btn search-btn"><img src="{% static 'main_site/img/search.svg' %}" alt=""></button>
              </td>
          </tr>
        </table>

        {% if query %}
            <h3>Results</h3>

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.ward }}, {{ result.object.country }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}
